--- --- @import 'main
 {
  %- if jekyll.environment=='production' -%
}

.bundle {
  %- endif -%
}

';

/* append your custom style below */

aside[aria-label='Panel] {
 display: none;
}

.card-wrapper .preview-img {
  display: none;
}


#sidebar .site-title a {
  font-family: $font-family-sidebar;
}

.card-title {
  // font-size: 1.8rem !important;
  font-family: $font-family-heading;
  margin-bottom: -8px !important;
}

.card-text p {
  display: none !important;
}

main .preview-img {
  display: none;
}

article .preview-img img {
  object-fit: contain;
}

div[id='tail-wrapper']>nav[class*='post-navigation'] {
  display: none !important;
}

#related-posts {
  display: none;
}

.post-image {
  width: 300px;
  display: flex;
  margin: 50 auto;
}

.post-tag,
a {
  color: var(--text-color);
}

.post-content p,
ul,
li,
table {
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post-content a:not(.img-link) {
  border-bottom: 3px solid var(--link-underline-color);
}

.post-content a:not(.img-link):hover {
  color: var(--main-bg) !important;
  text-decoration: none;
  background-color: var(--link-color);
  border-radius: .1rem;
  transition: all .2s ease-in-out;
}

.post-tail-wrapper {
  margin-top: 1rem;
}

.post-meta {
  font-family: $font-family-heading;
  font-weight: 500;
}

h1,
h2,
h3 {
  font-weight: 540;
}

#toc-wrapper {
  font-family: $font-family-heading;
}

.language-plaintext {
  font-family: $code-font-family;
  font-size: .95rem !important;
}

*/ @media all and (max-width: 576px) {
  .post-image {
    width: 75%;
  }
}

html {
  %link-hover {
    color: #8ac8fc !important;
    border-bottom: none;
    text-decoration: none;
  }
}

html:not([data-mode]),
html[data-mode="dark"] {
  --sidebar-bg: radial-gradient(circle, rgba(42, 30, 107, 1) 0%, rgba(35, 37, 46, 1) 100%);
  --sidebar-hover-bg: #a84bff56;
  --card-shadow: #a84bff40 0 1px 2px 0,
    rgba(211, 209, 209, 0.15) 0 0 0 1px;
  --card-hovor-bg: var(--sidebar-hover-bg);
}

html:not([data-mode]),
html[data-mode="light"] {
  --sidebar-bg: radial-gradient(circle, rgba(6, 68, 160, 0) 0%, rgba(125, 213, 255, 0.3) 100%);
  --sidebar-hover-bg: rgba(97, 184, 255, 0.5);
  --card-hovor-bg: var(--sidebar-hover-bg);
  --card-shadow: #6bbcff 0 1px 6px 0,
    rgba(211, 209, 209, 0.15) 0 0 0 1px;
}